*.iml
.gradle
/local.properties
/.idea/*
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
Coach/.idea/sonarIssues.xml
Coach/.idea/sonarlint/issuestore/f/1/f1d9e96ca3a3d0091efb0d673f61549daf7cd63f
*.pb
